<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Todo app</title>
  </head>
  <body>
    <h1>The project App</h1>
    <img src="<%= filePath %>" alt="Something" />
    <div style="display: flex">
      <input type="text" maxlength="140" />
      <button>Create todo</button>
    </div>
    <ul>
      <% todos.forEach(todo => { %>
        <li><%= todo %></li>
        <% }) %>
    </ul>
    <p>DevOps with Kubernetes 2025</p>
  </body>
</html>
