<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Todo app</title>
  </head>
  <body>
    <h1>The project App</h1>
    <img src="<%= filePath %>" alt="Something" />
    <form action=<%= `${todoAppBaseURL}/todos` %> method="post">
      <div style="display: flex">
        <input id="postTodo" name="todo" type="text" maxlength="140" />
        <input type="submit"  value="Create todo">
      </div>
    </form>
    <ul>
      <% todos.forEach(todo => { %>
        <li><%= todo %></li>
        <% }) %>
    </ul>
    <p>DevOps with Kubernetes 2025</p>
  </body>
</html>
